:root {
    --dark: #4AA1E7;
    --light: #EDF7FF;
    --link: #799bb7;
}

html,
body,
body {
    background-color: var(--light);
    font-family: 'Source Code Pro', monospace;
}

.container {
    height: 100%;
    color: var(--dark);
    min-width: 200px;
    max-width: 100ch;
    padding: 10px 25px;
    margin: 0 auto;
}

.request-url {
    word-break: break-all;
    border: 1px solid #e6e6e6;
    padding: 6px 10px;
    border-radius: 3px;
    font-size: 12px;
    color: var(--link);
    background-color: #f8f8f8;
}